.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to bottom, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)),
    url(../images/fondo.png);
  background-size: cover;
  background-position: center;
}

.wrap-texto {
  color: #fff;
  text-align: center;
  width: 50%;
}
